body{
  background-color:#CCFFFF;
  alignContent:center;
  
}
h1{
  color:grey;
  text-align:center;
}

.Transformers{
  color:dark-grey;
}

h2 {
  color:grey;
  text-align:center;
}

#p2{
  color:dark-grey;
}

hr{
  border: 1px solid green;
}
img{
  border-radius: 25px;
  border: 3px solid grey;
  padding: 20px;
  width: 800px;
  height: 300px;
    
}